dl {
	margin: 1em 2em;
}

dd {
	margin: 0 0 1em 0;
	padding: 0.5em 1em;
	border: 1px solid #ccc;
}

.syntaxhighlighter.java {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 90% !important;
	margin: 1em 2em !important;
}

#banner {
	background: #fff;
	padding: 1em 0 0 1em;
	margin-bottom: -1em;
}